@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.innerHTML {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 3vw, 1.25rem);
}
.innerHTML h1 {
  font-size: clamp(2.25rem, 5vw, 2.75rem);
}
.innerHTML h2 {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
}
.innerHTML h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}
.innerHTML ul {
  list-style: disc;
  padding-left: clamp(2rem, 3vw, 3rem);
}
.innerHTML ol {
  list-style: decimal;
  padding-left: clamp(2rem, 3vw, 3rem);
}
h1 {
  font-size: clamp(2.25rem, 5vw, 2.75rem);
}
h2 {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
}
h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}
ul {
  list-style: disc;
  padding-left: clamp(2rem, 3vw, 3rem);
}
ol {
  list-style: decimal;
  padding-left: clamp(2rem, 3vw, 3rem);
}
input {
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 3vw, 1.25rem);
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(var(--foreground-rgb));
  background: transparent;
  color: rgb(var(--foreground-rgb));
}